@use "sass:map";
@use "variables" as *;
//---------------------------------------------------------------
// レスポンシブ設定
//---------------------------------------------------------------

@mixin mq($key) {
  @media #{map.get($breakpoints, $key)} {
    @content;
  }
}

//---------------------------------------------------------------
// en
//---------------------------------------------------------------
@mixin en {
  font-family: $font-family-en;
  text-transform: capitalize;
  letter-spacing: 0.1em;
}

//---------------------------------------------------------------
// box-shadow
//---------------------------------------------------------------
@mixin box-shadow {
  box-shadow: 5px 5px 20px 0px rgba(31, 31, 31, 0.1);
}

//---------------------------------------------------------------
// wrapper
//---------------------------------------------------------------
@mixin wrapper {
  // pc
  @include mq(l) {
    padding: 0 8.68vw;
  }

  //sp
  @include mq(s) {
    padding: 0 4.265vw;
  }
}

//---------------------------------------------------------------
// heading-decoration
//---------------------------------------------------------------
@mixin decoration-circle($circle-type) {
  position: absolute;
  content: "";
  background: $accent-color;
  border-radius: 50%;

  // --- lg --- //
  @if $circle-type == lg {
    // pc
    @include mq(l) {
      width: 16px;
      height: 16px;
    }

    // sp
    @include mq(s) {
      width: 14px;
      height: 14px;
    }
  }

  // --- sm --- //
  @if $circle-type == sm {
    // pc
    @include mq(l) {
      width: 12px;
      height: 12px;
    }

    // sp
    @include mq(s) {
      width: 10px;
      height: 10px;
    }
  }
}

//---------------------------------------------------------------
// logo
//---------------------------------------------------------------
@mixin logo {
  font-weight: 600;
  @include en;

  // pc
  @include mq(l) {
    font-size: 24px;
  }

  //sp
  @include mq(s) {
    font-size: clamp(24px, 6.4vw, 32px);
  }
}

//---------------------------------------------------------------
// lead
//---------------------------------------------------------------
@mixin text($text-align-lead) {
  line-height: 2;

  @if $text-align-lead == left {
    text-align: left;
  }

  @if $text-align-lead == center {
    text-align: center;
  }
}

//---------------------------------------------------------------
// tab
//---------------------------------------------------------------
@mixin tab {
  width: 100%;
  display: flex;
  align-items: center;

  .tab-item {
    font-weight: 500;

    // 未選択のタブ
    color: rgba($color: $main-color, $alpha: 0.2);

    // 選択中のタブ
    &.active {
      color: rgba($color: $main-color, $alpha: 1);
    }
  }

  // --- pc --- //
  @include mq(l) {
    justify-content: space-around;
    margin-bottom: 32px;

    .tab-item {
      cursor: pointer;
      font-size: clamp(15px, 1.25vw, 18px);
    }
  }
}

.tab-list {
  @include tab;
}
