//---------------------------------------------------------------
// color
//---------------------------------------------------------------
$base-color: #ffffff;
$main-color: #1f1f1f;
$sub-color: #f2f2f2;
$accent-color: #1e5aa8;

//---------------------------------------------------------------
// font-family
//---------------------------------------------------------------
$font-family-en: "Inter", sans-serif;
$font-family-jp: "Noto Sans JP", sans-serif;

//---------------------------------------------------------------
// margin
//---------------------------------------------------------------
$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: clamp(36px, 3.333vw, 48px);
$margin-xl-sp: clamp(48px, 12.8vw, 64px);

//---------------------------------------------------------------
// transition
//---------------------------------------------------------------
$transition: all 0.4s;

//---------------------------------------------------------------
// opacity
//---------------------------------------------------------------
$opacity: 0.5;

//---------------------------------------------------------------
// radius
//---------------------------------------------------------------
$radius: 6px;

//---------------------------------------------------------------
// レスポンシブ設定
//---------------------------------------------------------------
$breakpoints: (
  s: "(width <= 1019px)",
  l: "(width >= 1020px)",
);
