// ================================================================
// color
// ================================================================
$base-color: #ffffff;
$main-color: #1f1f1f;
$sub-color: #f2f2f2;
$accent-color: #1e5aa8;

// ================================================================
// font-family
// ================================================================
$font-family-en: "Inter", sans-serif;
$font-family-jp: "Noto Sans JP", sans-serif;

// ================================================================
// margin
// ================================================================
$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: clamp(36px, 3.333vw, 48px);

// ================================================================
// transition
// ================================================================
$transition: all 0.4s;

// ================================================================
// opacity
// ================================================================
$opacity: 0.5;

// ----------------------------------------------------------------------
// コンテンツ幅
// ----------------------------------------------------------------------
$radius: 6px;
