@use "../utils/variables" as *;
@use "../utils/mixins" as *;

// --------------------------------------------------------------------------------------------------------------------------------------------
// アイコン
// --------------------------------------------------------------------------------------------------------------------------------------------
@mixin icon($icon: md) {
  display: inline-block;

  // svgアイコン
  g {
    transition: $transition;
  }

  // pc
  @include mq(l) {
    width: 20px;
  }

  // sp
  @include mq(s) {
    width: 18px;
  }

  @if $icon == lg {
    // pc
    @include mq(l) {
      width: clamp(18px, 1.944vw, 28px);
      margin-right: 0;
    }

    // sp
    @include mq(s) {
      width: clamp(18px, 6.4vw, 28px);
      margin: 0;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------------------------------
// ボタン
// --------------------------------------------------------------------------------------------------------------------------------------------

@mixin btn($btn-type) {
  border-radius: 6px;
  background: $accent-color;
  border: 1px $accent-color solid;
  color: $base-color;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transition;
  text-transform: capitalize;

  // ホバー時の動き
  &:hover {
    background: $main-color;
    border: 1px $main-color solid;
    opacity: 1; //aリンクすべてに指定している透過を無効化
  }

  &:hover .icon {
    g {
      fill: $base-color;
    }
  }

  // pc
  @include mq(l) {
    width: clamp(160px, 12.5vw, 180px);
    height: clamp(48px, 3.88vw, 56px);
    column-gap: $margin-sm;
  }

  // sp
  @include mq(s) {
    width: clamp(150px, 42.6vw, 180px);
    height: clamp(48px, 14.9vw, 56px);
    column-gap: $margin-sm;
  }

  // ---------------------------------------------------------------------
  // ボタン デフォルト
  // ---------------------------------------------------------------------
  @if $btn-type == normail {
    margin: auto;
  }

  // ---------------------------------------------------------------------
  // ボタン 左寄せ
  // ---------------------------------------------------------------------
  @if $btn-type == left {
    margin-right: auto;
  }

  // ---------------------------------------------------------------------
  // ボタン 中央寄せ
  // ---------------------------------------------------------------------
  @if $btn-type == center {
    margin: 0 auto;
  }

  // ---------------------------------------------------------------------
  // ボタン 戻る
  // ---------------------------------------------------------------------
  @if $btn-type == back {
    background: $base-color;
    color: $main-color;
    border: 1px solid $main-color;

    &:hover {
      color: $base-color;
      border: 1px solid $main-color;
    }
  }
}

/* ----------------------------------------------------------------------------
 アイコン
---------------------------------------------------------------------------- */
.icon {
  @include icon;
}

/* ----------------------------------------------------------------------------
 ボタン 共通
---------------------------------------------------------------------------- */
.btn {
  @include btn(normal);
}

/* ----------------------------------------------------------------------------
 ボタン 左寄せ
---------------------------------------------------------------------------- */
.btn--left {
  @include btn(left);
}

/* ----------------------------------------------------------------------------
 ボタン 中央寄せ
---------------------------------------------------------------------------- */
.btn--center {
  @include btn(center);
}

/* ----------------------------------------------------------------------------
 ボタン 戻る
---------------------------------------------------------------------------- */
.btn--back {
  @include btn(back);
}

/* ----------------------------------------------------------------------------
 ホバー時 色
---------------------------------------------------------------------------- */
.footer .btn,
.contact-cta__button {
  &:hover {
    border: 1px solid $base-color;
  }
}

/* ----------------------------------------------------------------------------
 お問い合わせ 送信完了 ボタン
---------------------------------------------------------------------------- */
.thanks__btn {
  margin: 0 auto;
}
