@use "../utils";

/* ------------------------------------------------------------------------------------------------------
 アイコン 
------------------------------------------------------------------------------------------------------ */
@mixin icon($icon: md) {
  display: inline-block;

  // svgアイコン
  g {
    transition: utils.$transition;
  }

  // pc
  @include utils.mq(l) {
    width: 20px;
  }

  // sp
  @include utils.mq(s) {
    width: 18px;
  }

  @if $icon == lg {
    // pc
    @include utils.mq(l) {
      width: clamp(18px, 1.944vw, 28px);
      margin-right: 0;
    }

    // sp
    @include utils.mq(s) {
      width: clamp(18px, 6.4vw, 28px);
      margin: 0;
    }
  }
}

.icon {
  @include icon;
}

/* ------------------------------------------------------------------------------------------------------
 ボタン 
------------------------------------------------------------------------------------------------------ */

@mixin btn($btn-type) {
  border-radius: 6px;
  background: utils.$accent-color;
  border: 1px utils.$accent-color solid;
  color: utils.$base-color;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: utils.$transition;
  text-transform: capitalize;

  // ---------------------------------------------------------------------
  // ボタン デフォルト
  // ---------------------------------------------------------------------
  @if $btn-type == normail {
    margin: auto;
  }

  // ---------------------------------------------------------------------
  // ボタン 左寄せ
  // ---------------------------------------------------------------------
  @if $btn-type == left {
    margin-right: auto;
  }

  // ---------------------------------------------------------------------
  // ボタン 中央寄せ
  // ---------------------------------------------------------------------
  @if $btn-type == center {
    margin: 0 auto;
  }

  // ホバー時の動き
  &:hover {
    background: utils.$main-color;
    border: 1px utils.$main-color solid;
    opacity: 1; //aリンクすべてに指定している透過を無効化
  }

  // ---------------------------------------------------------------------
  // ボタン 戻る
  // ---------------------------------------------------------------------
  @if $btn-type == back {
    background: utils.$base-color;
    color: utils.$main-color;
    border: 1px utils.$main-color solid;

    &:hover {
      color: utils.$base-color;
      border: 1px solid utils.$main-color;
    }
  }

  &:hover .icon {
    g {
      fill: utils.$base-color;
    }
  }

  // pc
  @include utils.mq(l) {
    width: clamp(160px, 12.5vw, 200px);
    height: clamp(48px, 3.88vw, 64px);
    column-gap: utils.$margin-sm;
  }

  // sp
  @include utils.mq(s) {
    width: clamp(150px, 42.6vw, 180px);
    height: clamp(48px, 14.9vw, 56px);
    column-gap: utils.$margin-sm;
  }
}

.btn {
  @include btn(normal);
}

.btn--left {
  @include btn(left);
}

.btn--center {
  @include btn(center);
}

.btn--back {
  @include btn(back);
}

// ----------------------------------------------------------------------------
// aタグの透過を無効化
// ----------------------------------------------------------------------------
.footer .btn,
.contact-cta__button {
  &:hover {
    border: 1px solid utils.$base-color;
  }
}

// ----------------------------------------------------------------------------
// お問い合わせ 送信完了 ボタン
// ----------------------------------------------------------------------------
.thanks__btn {
  margin: 0 auto;
}
