@use "../utils";

/* ------------------------------------------------------------------------------------------------------
 icon 
------------------------------------------------------------------------------------------------------ */
@mixin icon($icon: md) {
  display: inline-block;

  // svgアイコン
  g {
    transition: utils.$transition;
  }

  // pc
  @include utils.mq(l) {
    width: 20px;
  }

  // sp
  @include utils.mq(s) {
    width: 18px;
  }

  @if $icon == lg {
    // pc
    @include utils.mq(l) {
      width: clamp(18px, 1.944vw, 28px);
      margin-right: 0;
    }

    // sp
    @include utils.mq(s) {
      width: clamp(18px, 6.4vw, 28px);
      margin: 0;
    }
  }
}

.icon {
  @include icon;
}

/* ------------------------------------------------------------------------------------------------------
 button 
------------------------------------------------------------------------------------------------------ */

@mixin btn($btn-type) {
  border-radius: 6px;
  background: utils.$accent-color;
  border: 1px utils.$accent-color solid;
  color: utils.$base-color;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: utils.$transition;
  text-transform: capitalize;

  // ホバー時黒背景に
  &:hover {
    background: utils.$main-color;
    border: 1px utils.$main-color solid;
    opacity: 1; //aリンクすべてに指定している透過を無効化
  }

  // ---------------------------------------------------------------------
  // button default
  // ---------------------------------------------------------------------
  @if $btn-type == normail {
    margin: auto;
  }

  // ---------------------------------------------------------------------
  // button left
  // ---------------------------------------------------------------------
  @if $btn-type == left {
    margin-right: auto;
  }

  // ---------------------------------------------------------------------
  // button center
  // ---------------------------------------------------------------------
  @if $btn-type == center {
    margin: 0 auto;
  }

  // ---------------------------------------------------------------------
  // button back
  // ---------------------------------------------------------------------
  @if $btn-type == back {
    background: utils.$base-color;
    color: utils.$main-color;
    border: 1px utils.$main-color solid;

    &:hover {
      color: utils.$base-color;
      border: 1px solid utils.$main-color;
    }
  }

  &:hover .icon {
    g {
      fill: utils.$base-color;
    }
  }

  // pc
  @include utils.mq(l) {
    width: clamp(160px, 12.5vw, 200px);
    height: clamp(48px, 3.88vw, 64px);
    column-gap: utils.$margin-sm;
  }

  // sp
  @include utils.mq(s) {
    width: clamp(150px, 42.6vw, 200px);
    height: clamp(48px, 14.9vw, 64px);
    column-gap: utils.$margin-sm;
  }
}

// ---------------------------------------------------------------------
// button instagram
// ---------------------------------------------------------------------

@mixin btn-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  text-align: center;
  color: utils.$base-color;
  text-transform: capitalize;
  position: relative;
  z-index: 0;
  background: linear-gradient(
    80deg,
    #ffd600,
    #ff7a00 20%,
    #ff0069 50%,
    #d300c5 75%,
    #7638fa
  );

  // pc
  @include utils.mq(l) {
    width: clamp(160px, 12.5vw, 200px);
    height: clamp(48px, 3.88vw, 64px);
    column-gap: utils.$margin-sm;
  }

  // sp
  @include utils.mq(s) {
    width: clamp(150px, 42.6vw, 200px);
    height: clamp(48px, 14.9vw, 64px);
    column-gap: utils.$margin-sm;
  }

  &:hover {
    opacity: 1;
  }

  // マウスホバー時の背景色を重ねて表示（初期状態で透明）
  &::before {
    content: "";
    position: absolute;
    border-radius: 6px;
    inset: 0;
    z-index: -1;
    background: linear-gradient(
      80deg,
      utils.$main-color,
      utils.$main-color 20%,
      utils.$main-color 50%,
      utils.$main-color 75%,
      utils.$main-color
    );
    opacity: 0;
    transition: all 0.5s;
  }

  // マウスホバー時に透明化を解除
  &:hover::before {
    opacity: 1;
  }
}

// ---------------------------------------------------------------------
// button 共通クラスにスタイル適用
// ---------------------------------------------------------------------
.btn {
  @include btn(normal);
}

.btn--left {
  @include btn(left);
}

.btn--center {
  @include btn(center);
}

.btn--back {
  @include btn(back);
}

.btn--instagram {
  @include btn-instagram;
}

// ----------------------------------------------------------------------------
// aタグの透過を無効化
// ----------------------------------------------------------------------------
.footer .btn,
.contact-cta__button {
  &:hover {
    border: 1px solid utils.$base-color;
  }
}

// ----------------------------------------------------------------------------
// お問い合わせ 送信完了 ボタン
// ----------------------------------------------------------------------------
.thanks__btn {
  margin: 0 auto;
}
