@use "../utils/variables" as *;
@use "../utils/mixins" as *;

/* ----------------------------------------------------------------------------
   下部 お問い合わせCTA sp
---------------------------------------------------------------------------- */
@include mq(s) {
  .cta-btns {
    background: $base-color;
    @include box-shadow;
    position: fixed;
    z-index: 7;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: $margin-md 0;
    box-sizing: border-box;

    &__wrapper {
      @include wrapper;
      max-width: 560px;
      text-align: center;
    }

    &__lead {
      font-size: clamp(1.4px, 4.267vw, 20px);
      font-weight: 500;
      margin-bottom: $margin-md;
    }

    // 電話・メール共通
    .cta-btn__wrapper {
      display: grid;
      grid-template-columns: 48% 48%;
      justify-content: space-between;
    }

    .cta-btn {
      font-size: clamp(11px, 3.2vw, 20px);
      font-weight: 500;
      height: clamp(40px, 12.8vw, 64px);
      color: $base-color;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: $margin-sm;
      border-radius: 6px;
    }

    // 電話
    .cta-btn--phone {
      background: $main-color;

      .cta-btn-icon {
        width: clamp(16px, 4.267vw, 20px);
      }
    }

    // メール
    .cta-btn--email {
      background: $accent-color;

      .cta-btn-icon {
        width: clamp(14px, 3.733vw, 20px);
      }
    }
  }
}
