@use "../utils";

/* ------------------------------------------------------------------------------------------------------
 header 共通
------------------------------------------------------------------------------------------------------ */
.header {
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;

  &__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // ロゴ
  &__logo {
    @include utils.logo;
  }

  // ナビゲーション
  .gnav {
    &__link {
      @include utils.en;
    }

    // 2階層目ナビゲーション
    &__toggle {
      position: relative;

      &::before,
      &::after {
        position: absolute;
        content: "";
      }
    }
  }

  // 電話番号
  &__contact--phone {
    display: flex;
    justify-content: center;
    align-items: center;

    .phone-number {
      font-weight: 600;
      @include utils.en;
      display: flex;
      align-items: center;
    }

    .phone-icon {
      display: inline-block;
    }
  }
}

/* ------------------------------------------------------------------------------------------------------
 header pc
------------------------------------------------------------------------------------------------------ */
@include utils.mq(l) {
  .header {
    &__wrapper {
      width: 95%;
      height: clamp(64px, 6vw, 100px);
    }

    // 右側の要素
    &__right-wrapper {
      display: flex;
      align-items: center;
      column-gap: clamp(32px, 3.333vw, 48px);
    }

    // ナビゲーション
    .gnav {
      &__list {
        display: flex;
        align-items: center;
        column-gap: clamp(32px, 3.333vw, 48px);
      }

      &__link {
        font-size: clamp(15px, 1.25vw, 18px);
        font-weight: 400;
      }

      &__item {
        // お問い合わせ
        &:nth-of-type(5) {
          .mail-icon {
            display: inline-block;
            width: 20px;
          }
        }
      }

      // 2階層目ナビゲーション
      &__toggle {
        position: relative;
        padding-right: utils.$margin-md;
        margin: utils.$margin-sm 0;
        display: inline-block;

        &::before {
          display: none;
        }

        &::after {
          top: 44%;
          right: 0;
          width: 8px;
          height: 8px;
          border-bottom: 1px utils.$main-color solid;
          border-right: 1px utils.$main-color solid;
          transform: translateY(-50%) rotate(45deg);
        }
      }

      &__sub-list {
        display: flex;
        flex-direction: column;
        row-gap: utils.$margin-md;
        position: absolute;
        background: utils.$base-color;
        @include utils.box-shadow;
        padding: utils.$margin-md;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        transition: utils.$transition;

        &.is-open {
          opacity: 1;
          visibility: visible;
        }

        a {
          font-size: clamp(13px, 1.04vw, 15px);
        }
      }
    }

    // 電話番号
    &__contact--phone {
      row-gap: utils.$margin-sm;
      flex-direction: column;

      .reception {
        font-size: clamp(12px, 0.9vw, 13px);
      }

      .phone-number {
        font-size: clamp(19px, 1.528vw, 22px);
      }

      .phone-icon {
        width: clamp(21px, 1.677vw, 24px);
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------------
 header sp
------------------------------------------------------------------------------------------------------ */
@include utils.mq(s) {
  .header {
    &__wrapper {
      @include utils.wrapper;
      height: clamp(80px, 21.33vw, 120px);
      position: relative;
    }

    // ハンバーガーボタン
    .hamburger-btn {
      width: clamp(48px, 12.8vw, 56px);
      height: clamp(48px, 12.8vw, 56px);
      border-radius: 6px;
      background: utils.$accent-color;
      display: flex;
      justify-content: center;
      position: fixed;
      z-index: 10;
      right: 4.265%;

      // 線 共通
      span {
        position: absolute;
        width: 70%;
        height: 1px;
        background: utils.$base-color;
        transition: utils.$transition;
      }

      // 線 1本目
      span:nth-of-type(1) {
        top: calc(50% - 9px);
      }

      // 線 2本目
      span:nth-of-type(2) {
        top: 50%;
      }

      // 線 3本目
      span:nth-of-type(3) {
        top: calc(50% - -9px);
      }
    }

    // ハンバーガーボタン is-open
    .hamburger-btn.is-open {
      span {
        width: 65%;
      }

      // 線 1本目
      span:nth-of-type(1) {
        top: 50%;
        transform: rotate(45deg);
      }

      // 線 2本目
      span:nth-of-type(2) {
        opacity: 0;
      }

      // 線 3本目
      span:nth-of-type(3) {
        top: 50%;
        transform: rotate(-45deg);
      }
    }

    // ハンバーガーメニュー
    .hamburger-menu {
      width: 100vw;
      height: 100lvh;
      position: fixed;
      z-index: 9;
      top: 0;
      left: 0;
      transform: translateX(100%);
      transition: utils.$transition;

      // ハンバーガーメニュー アクティブ
      &.is-open {
        transform: translateX(0);
      }

      &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: utils.$margin-xl;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        width: min(95%, 410px);
        height: 100%;
        background: utils.$main-color;
        overflow-y: scroll;
      }

      // ロゴ
      &__logo {
        @include utils.wrapper;
        @include utils.logo;
        color: utils.$base-color;
        height: 80px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 4.265%;
      }
    }

    // 背景透過
    .hamburger-menu__bg {
      width: 100vw;
      height: 100dvh;
      position: fixed;
      z-index: 8;
      top: 0;
      left: 0;
      background: rgba($color: utils.$main-color, $alpha: utils.$opacity);
      opacity: 0;
      visibility: hidden;
      transition: utils.$transition;

      // active
      &.is-open {
        opacity: 1;
        visibility: visible;
      }
    }

    // ナビゲーション
    .gnav {
      width: 100%;
      padding: 128px 4.265vw 0;

      &__list {
        display: flex;
        row-gap: clamp(17px, 5.3vw, 24px);
        flex-direction: column;
      }

      &__item {
        padding-bottom: clamp(17px, 5.3vw, 24px);
        border-bottom: 1px solid
          rgba($color: utils.$base-color, $alpha: utils.$opacity);
      }

      &__link {
        position: relative;
        font-size: clamp(17px, 5.3vw, 22px);
        color: utils.$base-color;
        width: 100%;
        padding-left: utils.$margin-md;

        &::before {
          @include utils.decoration-circle(sm);
          top: 10%;
          left: 0;
        }
      }

      .has-child {
        padding-bottom: 0;
      }

      &__toggle {
        &::after {
          top: 2%;
          right: 0;
          width: 12px;
          height: 12px;
          border-bottom: 1px utils.$base-color solid;
          border-right: 1px utils.$base-color solid;
          transform: rotate(45deg);
        }
      }

      &__sub-list {
        color: utils.$base-color;
        display: flex;
        flex-direction: column;
        row-gap: utils.$margin-md;
        height: 0;
        overflow: hidden;
        transition: utils.$transition;
        padding-top: clamp(17px, 19.875px, 24px);
      }

      &__sub-link {
        font-size: clamp(13px, 4vw, 15px);
        padding-left: utils.$margin-md;
        margin-left: 12px;
        position: relative;
      }

      // 装飾
      &__sub-link::before {
        display: inline-block;
        content: "";
        position: absolute;
        width: 12px;
        height: 1px;
        background: utils.$base-color;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }

    // メール・電話共通
    &__contact {
      @include utils.wrapper;
      color: utils.$base-color;
      display: flex;
      justify-content: center;
      align-items: center;

      &-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: utils.$margin-md;
      }
    }

    // メール
    &__contact--email {
      flex-direction: column;
      width: 100%;

      a {
        width: 100%;
        height: 64px;
        font-size: 20px;

        .email-icon {
          display: inline-block;
          width: 24px;
        }
      }
    }

    // 電話番号
    &__contact--phone {
      flex-direction: column-reverse;

      .header__contact-title {
        order: 1;
      }

      .reception {
        font-size: clamp(14px, 4.266vw, 18px);
      }

      .phone-number {
        font-size: clamp(28px, 8.9vw, 36px);
        margin-bottom: utils.$margin-sm;
      }

      .phone-icon {
        width: clamp(28px, 9vw, 36px);
      }
    }
  }
}
