@use "../utils";

/* ------------------------------------------------------------------------------------------------------
  セクション間 余白 
------------------------------------------------------------------------------------------------------ */
section {
  @include utils.mq(l) {
    padding-top: clamp(120px, 11.11vw, 160px);
  }

  @include utils.mq(s) {
    padding-top: 120px;
  }
}

footer {
  @include utils.mq(l) {
    margin-top: 160px;
  }

  @include utils.mq(s) {
    margin-top: 120px;
  }
}
