@use "../utils/variables" as *;
@use "../utils/mixins" as *;

/* ------------------------------------------------------------------------------------------------------
 お問い合わせ 入力確認画面 共通
------------------------------------------------------------------------------------------------------ */

.confirm__text {
  line-height: 1.75;
}

.confirm__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* ------------------------------------------------------------------------------------------------------
 お問い合わせ 入力確認画面 pc
------------------------------------------------------------------------------------------------------ */
@include mq(l) {
  .confirm__btns {
    column-gap: $margin-md;
  }
}

/* ------------------------------------------------------------------------------------------------------
 お問い合わせ 入力確認画面 sp
------------------------------------------------------------------------------------------------------ */
@include mq(s) {
  .confirm__btns {
    column-gap: $margin-lg;
    row-gap: $margin-sm;
  }
}
