@use "../utils/variables" as *;
@use "../utils/mixins" as *;

/* ------------------------------------------------------------------------------------------------------
 ファーストビュー 共通
------------------------------------------------------------------------------------------------------ */
.fv {
  padding-top: $margin-xl;

  &__wrapper {
    padding: 0;
    display: grid;
  }
}

/* ------------------------------------------------------------------------------------------------------
 ファーストビュー pc
------------------------------------------------------------------------------------------------------ */
@include mq(l) {
  .fv {
    &__wrapper {
      width: 91.66%;
      margin-left: auto;
      grid-template-columns: 24.9% 68.8%;
      justify-content: space-between;
      align-items: center;
    }
  }
}

/* ------------------------------------------------------------------------------------------------------
 ファーストビュー sp
------------------------------------------------------------------------------------------------------ */
@include mq(s) {
  .fv {
    &__wrapper {
      @include wrapper;
      grid-template-rows: 1fr;
      row-gap: $margin-lg;
    }
  }
}
