@use "../utils";

/* ------------------------------------------------------------------------------------------------------
 下層ページ fv 共通
------------------------------------------------------------------------------------------------------ */
.fv {
  &__wrapper {
    padding: 0;
    display: grid;
  }
}

/* ------------------------------------------------------------------------------------------------------
 下層ページ fv pc
------------------------------------------------------------------------------------------------------ */
@include utils.mq(l) {
  .fv {
    padding-top: clamp(64px, 6vw, 100px);

    &__wrapper {
      width: 91.66%;
      margin-left: auto;
      grid-template-columns: 24.9% 68.8%;
      justify-content: space-between;
      align-items: center;
    }
  }
}

/* ------------------------------------------------------------------------------------------------------
 下層ページ fv sp
------------------------------------------------------------------------------------------------------ */
@include utils.mq(s) {
  .fv {
    padding-top: clamp(80px, 21.33vw, 120px);

    &__wrapper {
      @include utils.wrapper;
      grid-template-rows: 1fr;
      row-gap: utils.$margin-lg;
    }
  }
}
