@use "../utils";

/* ------------------------------------------------------------------------------------------------------
 works(detail) 共通
------------------------------------------------------------------------------------------------------ */
.works-detail {
  &__wrapper {
    @include utils.wrapper;
  }

  &__heading {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid rgba($color: utils.$main-color, $alpha: 0.3);
    font-weight: 500;
  }

  &__title {
    font-weight: 500;
  }

  //---------------------------------------------------------------
  // img
  //---------------------------------------------------------------
  &__img-area {
    width: 100%;
  }

  //---------------------------------------------------------------
  // 撮影実績 データ
  //---------------------------------------------------------------
  &__data-list {
    display: flex;
    align-items: center;

    dt {
      font-weight: 500;
    }
  }

  //---------------------------------------------------------------
  // 内部 sectionのpaddingを無効化
  //---------------------------------------------------------------
  &__summary,
  &__data {
    padding-top: 0;
  }

  //---------------------------------------------------------------
  // btn
  //---------------------------------------------------------------
  &__btn-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/* ------------------------------------------------------------------------------------------------------
 works(detail) pc
------------------------------------------------------------------------------------------------------ */
@include utils.mq(l) {
  .works-detail {
    //---------------------------------------------------------------
    // text
    //---------------------------------------------------------------
    &__heading {
      padding-bottom: utils.$margin-md;
      margin-bottom: utils.$margin-lg;
      font-size: clamp(24px, 2.2vw, 32px);
    }

    &__title {
      font-size: clamp(18px, 1.67vw, 24px);
      margin-bottom: utils.$margin-md;

      &-description {
        margin-bottom: utils.$margin-xl;
      }
    }

    //---------------------------------------------------------------
    // img
    //---------------------------------------------------------------
    &__img-area {
      text-align: center;
      margin-bottom: utils.$margin-xl;
    }

    &__img {
      width: 62.6%;
      margin: 0 auto;
    }

    //---------------------------------------------------------------
    // 撮影実績 データ
    //---------------------------------------------------------------
    &__data-list {
      column-gap: utils.$margin-lg;
      margin-bottom: utils.$margin-xl;

      dt {
        font-size: clamp(14px, 1.25vw, 20px);
      }
    }

    //---------------------------------------------------------------
    // btn
    //---------------------------------------------------------------
    &__btn-area {
      column-gap: utils.$margin-lg;
    }
  }
}

/* ------------------------------------------------------------------------------------------------------
 works(detail) sp
------------------------------------------------------------------------------------------------------ */
@include utils.mq(s) {
  .works-detail {
    //---------------------------------------------------------------
    // text
    //---------------------------------------------------------------
    &__heading {
      padding-bottom: utils.$margin-md;
      margin-bottom: utils.$margin-lg;
      font-size: min(6.4vw, 32px);
    }

    &__title {
      font-size: min(4.8vw, 24px);
      margin-bottom: utils.$margin-md;
      line-height: 1.5;

      &-description {
        margin-bottom: utils.$margin-xl;
      }
    }

    //---------------------------------------------------------------
    // img
    //---------------------------------------------------------------
    &__img-area {
      text-align: center;
      margin-bottom: utils.$margin-xl;
    }

    &__img {
      width: min(100%, 500px);
      margin: 0 auto;
    }

    //---------------------------------------------------------------
    // 撮影実績 データ
    //---------------------------------------------------------------
    &__data-list {
      column-gap: utils.$margin-lg;
      margin-bottom: utils.$margin-xl-sp;

      dt {
        font-size: min(4.8vw, 24px);
      }
    }

    //---------------------------------------------------------------
    // btn
    //---------------------------------------------------------------
    &__btn-area {
      column-gap: utils.$margin-lg;
    }
  }
}
